.body {
    float: left;
    height: 98vh;
    width: 98vw;
}

.head {
    float:left;
    height: 15%;
    width: 100%;
    background-color: brown;
}

.center {
    float:left;
    height: 75%;
    width: 100%;
    background-color:blue;
}

.footer {
    float:left;
    height: 10%;
    width: 100%;
    background-color: lightgreen;
}

.menu {
    float:left;
    height: 98%;
    width: 20%;
    background-color:grey;
    outline: solid;
}

.inhalt{
float: left;
height: 100%;
width: 80%;
background-color: orange;
outline: solid;
}

.seite{
    float: left;
    height: 100%;
    width: 20%;
    background-color: blueviolet;
}

.ma{
    float: left;
    height: 50%;
    width: 100%;
    background-color: yellow;
    outline: solid;
}
